*{
    background-color: rgb(95, 110, 110);
}
.yoyo{
font-size: 40px;
}
.yurr{
font-size: 40px;
}
.p{
    font-size: 40px;
}
.yaya{
    font-size: 40px;
}
*{
    font-family:'Courier New', Courier, monospace;
}